/* Fonts
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _  */

/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PlayfairDisplayBold"; */
@font-face {
    font-family: "PlayfairDisplayBold";
    src: url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.eot");
    src: url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.woff") format("woff"),
    url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PlayfairDisplayRegular"; */
@font-face {
    font-family: "PlayfairDisplayRegular";
    src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot");
    src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"),
    url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "AlegreyaBold"; */
@font-face {
    font-family: "AlegreyaBold";
    src: url("../fonts/AlegreyaBold/Alegreya-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "AlegreyaRegular"; */
@font-face {
    font-family: "AlegreyaRegular";
    src: url("../fonts/AlegreyaRegular/Alegreya-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ScriptinaRegular"; */
@font-face {
    font-family: 'ScriptinaRegular';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/ScriptinaRegular/ScriptinaRegular.woff") format('woff');
}


/* Base styles
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _  */

body {
    font: 100%/1.5 Arial, sans-serif;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
}

.wrapper-content {
    width: 78.75%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section#hero {
    background: url("../img/hero-bg.png") -30px 0 no-repeat;
    height: 720px;
    background-size: 105%;
}

#header {
    height: 55px;
    background: rgba(0, 0, 0, 0.2);
}

#header .wrapper-content {
    position: relative;
    top: 7px;
}

#logo {
    display: inline-block;
}

#logo a {
    font-family: "ScriptinaRegular";
    font-size: 1.5em;
    letter-spacing: 6.8px;
    position: relative;
    bottom: 2px;
}

#header ul.main-nav {
    position: relative;
    bottom: 32px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#header ul.main-nav li {
    display: inline;
    margin: 0 27px;
}

#header ul.main-nav a {
    font-family: "AlegreyaRegular";
    font-size: 0.6em;
    text-transform: uppercase;
}

#hero {
    color: #ffffff;
}

#hero a {
    color: #ffffff;
}

.social-media {
    position: relative;
    float: right;
    bottom: 54px;
}

.social-media li {
    display: inline;
    margin-left: 19px;
}

.social-media span {
    font-size: 0.8em;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#header ul.main-nav li:after {
    content: ' ';
    height: 1px;
    width: 7px;
    display: inline-block;
    position: relative;
    bottom: 3px;
    left: 28px;
    background: #ffffff;
}

#header ul.main-nav a {
    letter-spacing: 4.3px;
}

#header ul.main-nav li:last-child:after {
    content: ' ';
    display: none;
}

.hero-desc {
    text-align: center;
    position: relative;
    top: 175px;
}

.hero-desc h1 {
    font-family: "PlayfairDisplayBold";
    font-size: 4.5em;
    margin: 0 auto;
    letter-spacing: 4.5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 84px;
}

.hero-desc p {
    font-family: "ProximaNovaRegular";
    font-size: 1.2em;
    width: 50%;
    margin: 70px auto 0;
    position: relative;
    top: 101px;
    letter-spacing: 2.8px;
}

.hero-desc a {
    display: inline-block;
    padding: 11px 40px;
    font-family: "AlegreyaBold";
    font-size: 0.7em;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: rgba(97, 93, 84, 0.7);
    position: relative;
    top: 152px;
}

section#pancakes {
    height: 608px;
    background: url("../img/pancakes-bg.png") 2px -8px no-repeat;
    background-size: 100%;
    text-align: center;
}

.card {
    position: relative;
    top: 112px;
    display: inline-block;
    text-align: left;
    max-width: 90%;
    margin-right: 10%;
    left: 75px;
}

.card > div {
    display: inline-block;
    position: relative;
    width: 37%;
}

.card img {
    width: 335px;
    position: absolute;
    right: 0;
    top: -17px;
}

.card .card-desc {
    width: 48%;
    position: relative;
    float: right;
    background: #ffffff;
    right: 136px;
}

.card-desc-content {
    background: url("../img/widget-bg.svg") 100% 98% no-repeat;
    padding: 20px 60px 80px;
    background-size: 204px;
}

.card-desc-content h2, .card-desc-content h6 {
    font-family: "AlegreyaBold";
}

.card-desc-content h2 {
    font-size: 2.4em;
    color: #56534c;
    position: relative;
    left: -12px;
    top: 30px;
}

.card-desc-content h6 {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 43px;
    color: #a47d5e;
    font-weight: 100;
    position: relative;
    top: 25px;
    right: 10px;
}

.card-desc-content p {
    font-family: "ProximaNovaRegular";
    font-size: 0.8em;
    color: #56534c;
    position: relative;
    top: 28px;
    right: 10px;
}

.slider {
    margin-top: 56px;
    position: relative;
    right: 12px;
    top: 55px;
}

.slider div {
    display: inline-block;
}

.slider .prev, .slider .next {
    border: 2px solid #56534c;
    text-align: center;
    height: 25px;
    width: 25px;
    position: relative;
    bottom: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slider .prev {
    position: relative;
    top: -22px;
}

.slider .next {
    position: relative;
    right: -60px;
    top: -20px;
}

.slider .prev:before, .slider .next:before {
    display: inline-block;
    font-weight: bold;
    color: #56534c;
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
}

.slider .prev:before {
    content: "\003c";
}

.slider .next:before {
    content: '\003e';
}

.circles {
    height: 70px;
    width: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slider .circles-widget1 {
    background: url("../img/img1.png") no-repeat;
    background-size: cover;
    position: relative;
    left: 10px;
}

.slider .circles-widget2 {
    background: url("../img/img2.png") no-repeat;
    background-size: cover;
    position: relative;
    left: 30px;
}

.slider .circles-widget3 {
    background: url("../img/img3.png") no-repeat;
    margin-right: 0;
    background-size: cover;
    position: relative;
    left: 50px;
}

.rect {
    height: 160px;
    width: 160px;
    background: #ffffff url("../img/widget-img-sm.svg") 0 -15% no-repeat;
    position: absolute;
    top: -34px;
    right: -85px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    background-size: 110%;
    padding: 20px 0;
    text-align: center;
}

.rect h6 {
    text-transform: uppercase;
    font-size: 0.875em;
    color: #a47d5e;
    font-weight: 100;
    letter-spacing: 1.5px;
}

.rect h6, .rect p {
    font-family: "AlegreyaBold";
    display: inline-block;
    width: 100%;
}

.rect p {
    font-size: 1em;
    color: #56534c;
    position: relative;
    bottom: 49px;
}

.rect p.minutes {
    font-size: 5em;
    color: #dfc691;
    bottom: 20px;
    left: 2px;
    letter-spacing: 4px;
}




