/* Fonts
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _  */

/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PlayfairDisplayBold"; */
@font-face {
    font-family: "PlayfairDisplayBold";
    src: url("fonts/PlayfairDisplayBold/PlayfairDisplayBold.eot");
    src: url("fonts/PlayfairDisplayBold/PlayfairDisplayBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplayBold/PlayfairDisplayBold.woff") format("woff"),
    url("fonts/PlayfairDisplayBold/PlayfairDisplayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PlayfairDisplayRegular"; */
@font-face {
    font-family: "PlayfairDisplayRegular";
    src: url("fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot");
    src: url("fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"),
    url("fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "AlegreyaBold"; */
@font-face {
    font-family: "AlegreyaBold";
    src: url("fonts/AlegreyaBold/Alegreya-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "AlegreyaRegular"; */
@font-face {
    font-family: "AlegreyaRegular";
    src: url("fonts/AlegreyaRegular/Alegreya-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* Base styles
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _  */

body {
    font: 100%/1.5 Arial, sans-serif;
}

* {
	padding: 0;
	margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}
